@model RESTAURANT_MIS.Orders

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEMS.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEMS.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tables.TableName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tables.TableName)
        </dd>

    </dl>
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.Orderid }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
